/* superfish theming */

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sf-arrows .sf-with-ul:after {
	font-family: 'Glyphicons Halflings';
    content: "";
	font-size:70%;
	padding-left:5px;
}

.sf-arrows ul .sf-with-ul:after {
	font-family: 'Glyphicons Halflings';
    content: "";
	font-size:70%;
	padding-left:5px;
}

.sf-menu ul {
	position: absolute;
	display:none;
	top: 100%;
	left: 0;
	min-width: 30px; 
	z-index: 99;
	border-radius: 0px;
    background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out; 
            transition: all 0.3s ease-in-out;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display:block;

}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.main-navigation .sf-menu ul.sf-depth-3 {
	left:101%;
	top: -1px;
}

.main-navigation .sf-menu ul.sf-depth-4,
.main-navigation .sf-menu ul.sf-depth-5{
	left:102%;
	top: -1px;
}

.sf-menu li {
	position: relative;
}


.sf-menu > li {
	float: left;
}


.sf-menu a {
	display: block;
	position: relative;
	padding: 10px 12px;
	text-decoration: none;
	zoom: 1;
	white-space:nowrap;
}
.sf-menu .dropdown-menu a {
	padding:10px 20px;
}

.sf-menu a:focus,
.sf-menu .dropdown-menu a:focus {
	outline:none;
}


.sf-menu {
	float: left;
}

.sf-right .sf-menu {
	float:right;
}
.sf-left .sf-menu {
	float:left;
}

/*all preset styles defaults for styles 1-12 */



.superfish-style-1 .sf-menu a,
.superfish-style-2 .sf-menu a,
.superfish-style-3 .sf-menu a,
.superfish-style-4 .sf-menu a,
.superfish-style-5 .sf-menu a,
.superfish-style-6 .sf-menu a,
.superfish-style-7 .sf-menu a,
.superfish-style-8 .sf-menu a,
.superfish-style-9 .sf-menu a,
.superfish-style-10 .sf-menu a,
.superfish-style-11 .sf-menu a,
.superfish-style-12 .sf-menu a {
	margin: 1px 0 0 1px;
}


.superfish-style-1 .dropdown-menu,
.superfish-style-2 .dropdown-menu,
.superfish-style-3 .dropdown-menu,
.superfish-style-4 .dropdown-menu,
.superfish-style-5 .dropdown-menu,
.superfish-style-6 .dropdown-menu,
.superfish-style-7 .dropdown-menu,
.superfish-style-8 .dropdown-menu,
.superfish-style-9 .dropdown-menu,
.superfish-style-10 .dropdown-menu,
.superfish-style-11 .dropdown-menu,
.superfish-style-12 .dropdown-menu {
	border:0;
	margin-top:1px;
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;

}

/*superfish style 1 specific */

.superfish-style-1 .main-navigation {
	padding-left:0;
	padding-right:0;
}

/*superfish style 2 specific */


/*superfish style 3 specific */
.superfish-style-3 .main-navigation-wrapper .main-navigation {
	border-radius: 25px;
	background-clip: padding-box;
	overflow:visible;

}
.superfish-style-3 .sf-menu ul {
  border-radius: 4px;
  background-clip: padding-box;	
}
.superfish-style-3 .sf-menu ul li.first a,
.superfish-style-3 .sf-menu ul ul li.first a,
.superfish-style-3 .sf-menu ul ul ul li.first a,
.superfish-style-3 .sf-menu ul ul ul ul li.first a {
	  border-radius: 4px 4px 0 0;
	  background-clip: padding-box;	
	
}
.superfish-style-3 .sf-menu ul li.last a,
.superfish-style-3 .sf-menu ul ul li.last a,
.superfish-style-3 .sf-menu ul ul ul li.last a,
.superfish-style-3 .sf-menu ul ul ul ul li.last a {
	  border-radius: 0 0 4px 4px;
	  background-clip: padding-box;	
	
}
.superfish-style-3 .sf-menu ul li.first.last a,
.superfish-style-3 .sf-menu ul ul li.first.last a,
.superfish-style-3 .sf-menu ul ul ul li.first.last a,
.superfish-style-3 .sf-menu ul ul ul ul li.first.last a {
	  border-radius: 4px;
	  background-clip: padding-box;	
	
}
/*superfish style 4 specific */

.superfish-style-4 .main-navigation {
	padding-left:0;
	padding-right:0;
	background-repeat:repeat-x;
}
.superfish-style-4 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-4 .sf-menu > li.first {
	background-image:none;
}
/*superfish style 5 specific */

.superfish-style-5 .main-navigation {
	background-repeat:repeat-x;
}
.superfish-style-5 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-5 .sf-menu > li.first {
	background-image:none;
}

/*superfish style 6 specific */
.superfish-style-6 .main-navigation-wrapper .main-navigation {
	border-radius: 25px;
	background-clip: padding-box;
	overflow:visible;
	background-repeat:repeat-x;

}
.superfish-style-6 .sf-menu ul {
  border-radius: 4px;
  background-clip: padding-box;	
}
.superfish-style-6 .sf-menu ul li.first a,
.superfish-style-6 .sf-menu ul ul li.first a,
.superfish-style-6 .sf-menu ul ul ul li.first a,
.superfish-style-6 .sf-menu ul ul ul ul li.first a {
	  border-radius: 4px 4px 0 0;
	  background-clip: padding-box;	
	
}
.superfish-style-6 .sf-menu ul li.last a,
.superfish-style-6 .sf-menu ul ul li.last a,
.superfish-style-6 .sf-menu ul ul ul li.last a,
.superfish-style-6 .sf-menu ul ul ul ul li.last a {
	  border-radius: 0 0 4px 4px;
	  background-clip: padding-box;	
	
}
.superfish-style-6 .sf-menu ul li.first.last a,
.superfish-style-6 .sf-menu ul ul li.first.last a,
.superfish-style-6 .sf-menu ul ul ul li.first.last a,
.superfish-style-6 .sf-menu ul ul ul ul li.first.last a {
	  border-radius: 4px;
	  background-clip: padding-box;	
	
}

.superfish-style-6 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}

.superfish-style-6 .sf-menu > li.first {
	background-image:none;
}
/*superfish style 7 specific */

.superfish-style-7 .main-navigation {
	padding-left:0;
	padding-right:0;
	background-repeat:repeat-x;
}
.superfish-style-7 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-7 .sf-menu > li.first {
	background-image:none;
}
/*superfish style 8 specific */

.superfish-style-8 .main-navigation {
	background-repeat:repeat-x;
}
.superfish-style-8 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-8 .sf-menu > li.first {
	background-image:none;
}

/*superfish style 9 specific */
.superfish-style-9 .main-navigation-wrapper .main-navigation {
	border-radius: 25px;
	background-clip: padding-box;
	overflow:visible;
	background-repeat:repeat-x;

}
.superfish-style-9 .sf-menu ul {
  border-radius: 4px;
  background-clip: padding-box;	
}
.superfish-style-9 .sf-menu ul li.first a,
.superfish-style-9 .sf-menu ul ul li.first a,
.superfish-style-9 .sf-menu ul ul ul li.first a,
.superfish-style-9 .sf-menu ul ul ul ul li.first a {
	  border-radius: 4px 4px 0 0;
	  background-clip: padding-box;	
	
}
.superfish-style-9 .sf-menu ul li.last a,
.superfish-style-9 .sf-menu ul ul li.last a,
.superfish-style-9 .sf-menu ul ul ul li.last a,
.superfish-style-9 .sf-menu ul ul ul ul li.last a {
	  border-radius: 0 0 4px 4px;
	  background-clip: padding-box;	
	
}
.superfish-style-9 .sf-menu ul li.first.last a,
.superfish-style-9 .sf-menu ul ul li.first.last a,
.superfish-style-9 .sf-menu ul ul ul li.first.last a,
.superfish-style-9 .sf-menu ul ul ul ul li.first.last a {
	  border-radius: 4px;
	  background-clip: padding-box;	
	
}
.superfish-style-9 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}

.superfish-style-9 .sf-menu > li.first {
	background-image:none;
}

/*superfish style 10 specific */

.superfish-style-10 .main-navigation {
	padding-left:0;
	padding-right:0;
	background-repeat:repeat-x;
  -webkit-box-shadow: inset 0px -4px 9px -2px #000;
          box-shadow: inset 0px -4px 9px -2px #000;

}
.superfish-style-10 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-10 .sf-menu > li.first {
	background-image:none;
}

/*superfish style 11 specific */

.superfish-style-11 .main-navigation-wrapper {
	padding-left:0;
	padding-right:0;
	background-repeat:repeat-x;
  -webkit-box-shadow: inset 0px -4px 9px -2px #000;
          box-shadow: inset 0px -4px 9px -2px #000;

}
.superfish-style-11 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-11 .sf-menu > li.first {
	background-image:none;
}

/*superfish style 12 specific */

.superfish-style-12 .main-navigation-wrapper .main-navigation {
	border-radius: 25px;
	background-clip: padding-box;
	overflow:visible;
	background-repeat:repeat-x;
  -webkit-box-shadow: inset 0px -4px 9px -2px #000;
          box-shadow: inset 0px -4px 9px -2px #000;

}
.superfish-style-12 .sf-menu > li {
	background-image:url('shades/1px-darken-10.png');
	background-repeat:repeat-y;
	
}
.superfish-style-12 .sf-menu > li.first {
	background-image:none;
}


.superfish-style-12 .sf-menu ul,
.superfish-style-12 .sf-menu > li > a {
	border-radius: 4px;
  	background-clip: padding-box;	
}
.superfish-style-12 .sf-menu ul li.first a,
.superfish-style-12 .sf-menu ul ul li.first a,
.superfish-style-12 .sf-menu ul ul ul li.first a,
.superfish-style-12 .sf-menu ul ul ul ul li.first a {
	  border-radius: 4px 4px 0 0;
	  background-clip: padding-box;	
	
}
.superfish-style-12 .sf-menu ul li.last a,
.superfish-style-12 .sf-menu ul ul li.last a,
.superfish-style-12 .sf-menu ul ul ul li.last a,
.superfish-style-12 .sf-menu ul ul ul ul li.last a {
	  border-radius: 0 0 4px 4px;
	  background-clip: padding-box;	
	
}
.superfish-style-12 .sf-menu ul li.first.last a,
.superfish-style-12 .sf-menu ul ul li.first.last a,
.superfish-style-12 .sf-menu ul ul ul li.first.last a,
.superfish-style-12 .sf-menu ul ul ul ul li.first.last a {
	  border-radius: 4px;
	  background-clip: padding-box;	
	
}


/*superfish style 13 & 14*/

.superfish-style-13 .main-navigation,
.superfish-style-14 .main-navigation-wrapper  {
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-left:0;
	padding-right:0;
}

.superfish-style-13 .sf-menu > li > a,
.superfish-style-14 .sf-menu > li > a {
	border-width: 1px 1px 0;
	border-style:solid;
	border-radius: 3px 3px 0 0;
  	background-clip: padding-box;
	margin:1px 2px -1px;

}
.superfish-style-13 .sf-menu > li.active > a,
.superfish-style-14 .sf-menu > li.active > a {
	border-bottom:1px;
	border-bottom-style:solid;
}
.superfish-style-13 .sf-menu > li.first > a,
.superfish-style-14 .sf-menu > li.first > a {
	margin-left:0;
}
.superfish-style-13 .sf-menu > li.last > a,
.superfish-style-14 .sf-menu > li.last > a {
	margin-right:0;
}


/*superfish style 15 & 16 */

.superfish-style-15 .sf-menu ul,
.superfish-style-16 .sf-menu ul {
	border-width:1px;
	border-style:solid;
}

.superfish-style-15 .sf-menu > li > a,
.superfish-style-16 .sf-menu > li > a {
	border-width: 1px;
	border-style:solid;
	border-radius: 0;
  	background-clip: padding-box;
	margin:1px;

}
.superfish-style-16 .sf-menu ul,
.superfish-style-16 .sf-menu > li > a {
	border-radius: 6px;
  	background-clip: padding-box;	
}
.superfish-style-16 .sf-menu ul li.first a,
.superfish-style-16 .sf-menu ul ul li.first a,
.superfish-style-16 .sf-menu ul ul ul li.first a,
.superfish-style-16 .sf-menu ul ul ul ul li.first a {
	  border-radius: 6px 6px 0 0;
	  background-clip: padding-box;	
	
}
.superfish-style-16 .sf-menu ul li.last a,
.superfish-style-16 .sf-menu ul ul li.last a,
.superfish-style-16 .sf-menu ul ul ul li.last a,
.superfish-style-16 .sf-menu ul ul ul ul li.last a {
	  border-radius: 0 0 6px 6px;
	  background-clip: padding-box;	
	
}
.superfish-style-16 .sf-menu ul li.first.last a,
.superfish-style-16 .sf-menu ul ul li.first.last a,
.superfish-style-16 .sf-menu ul ul ul li.first.last a,
.superfish-style-16 .sf-menu ul ul ul ul li.first.last a {
	  border-radius: 6px;
	  background-clip: padding-box;	
	
}
.superfish-style-15 .sf-menu > li.active > a,
.superfish-style-16 .sf-menu > li.active > a {

}
.superfish-style-15 .sf-menu > li.first > a,
.superfish-style-16 .sf-menu > li.first > a {
	margin-left:0;
}
.superfish-style-15 .sf-menu > li.last > a,
.superfish-style-16 .sf-menu > li.last > a {
	margin-right:0;
}





