@media only screen and (max-width: 1200px) {
  .servicesPop {
    .servicesPopInner {
      .servicesPopInnerContent {
        .popover-p {
        }
        h1 {
          font-size:32px;
        }
        hr {
        }
        img {
        }
        ul {
          li {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .block-inner {
      .sections {
        div.textDiv {
        }
        .boxes-3 {
          ul {
            li {
              padding: 0 10px;
              img {
              }
              div {
              }
            }
          }
        }
      }
      .sections h2 {

      }
    }
  }

  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              padding: 0 15px;
              .box-title {
                font-size: 14px;
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/
  #block-nodeblock-4 {
    .block-inner {
      .testimonials_section {
        ul {
          li {
            div.test-content {
              i.fa-quote-left {
              }
              i.fa-quote-right {
              }
              i {
              }
              div.test-title {
              }
            }
          }
        }
      }
    }
  }
  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/
  #block-nodeblock-5 {
    .block-inner {
      .about_section {
        .about-content {
          .about-download {
            a {

            }
          }
        }
        ul {
          li {
            div.about-whiteBar {
            }
            div.about-image {
              img {
              }
            }
            .about-imageHover {
            }
            div.about-text {
              .about-more {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
      }
    }
  }
  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/
  #block-nodeblock-6 {
    .block-inner {
      .contact_section {
        .contact-header {
          h2 {
          }
          .contact-headerContent {
          }
        }
        .footer {
        }
        .contact-logo {
          img {
          }
          .footer-socialMedia {
            .socialMedia {
              a {
              }
              :hover {
              }
              span {
              }
            }
          }
        }
        .footer-contactContainer {
          .contact-about {
            .contac-aboutTitle {
            }
            .contact-aboutPhone {
            }
          }
          .contact-form {
            form {
              input {
              }
              :focus {
              }
              label {
              }
              textarea {
              }
              :focus {
              }
              .grippie {
              }
              .form-textarea-wrapper {
              }
              button {
              }
              button:hover {
              }
            }
          }
        }
      }
    }
  }
}