@media only screen and (max-width: 1200px) {

  .webui-popover {
    max-width:1000px;
  }

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .block-inner {
      .sections {
        div.textDiv {
        }
        .boxes-3 {
          ul {
            li {
              padding: 0 10px;
              img {
              }
              div {
              }
            }
          }
        }
      }
      .sections h2 {
        font-size:28px;

      }
    }
  }

  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              padding: 0 15px;
              .box-title {
                font-size: 14px;
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/

  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/

  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/
}