@media only screen and (max-width: 1200px) {
  .servicesPop {
    .servicesPopInner {
      .servicesPopInnerContent {
        .popover-p {
        }
        h1 {
          font-size:32px;
        }
        hr {
        }
        img {
        }
        ul {
          li {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .block-inner {
      .sections {
        div.textDiv {
        }
        .boxes-3 {
          ul {
            li {
              padding: 0 10px;
              img {
              }
              div {
              }
            }
          }
        }
      }
      .sections h2 {

      }
    }
  }

  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              padding: 0 15px;
              .box-title {
                font-size: 14px;
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/
  #block-nodeblock-4 {
    .block-inner {
      .testimonials_section {
        ul {
          li {
            div.test-whiteBar {
            }
            div.test-image {
            }
            .test-imageHover {
            }
            div.test-text {
              font-size:13px;
              top:20px;
            }
          }
        }
      }
    }
  }
  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/

  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/
}