@media only screen and (max-width: 480px) {

  .servicesPop {
    .servicesPopInner {
      .servicesPopInnerContent {
        font-size:12px;
        .popover-p {
          padding:0 10px;
        }
        h1 {
          font-size:26px;
        }
        hr {
        }
        img {
        }
        ul {
          padding:0 10px;
          li {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .logo img {
      width: 70%;
    }

    .block-inner {

      .sections {
        div.textDiv {
          width: 80%;
        }
        .boxes-3 {
          ul {
            padding-top: 20px;
            li {
              // padding:0;
              width: 80%;
              margin: 10px auto;
              height: 100px;
              img {
              }
              div {
                padding: 25px;
                line-height: 20px;
              }
            }
          }
        }
      }
      .sections h2 {
        font-size: 18px;
        line-height: 32px;
        font-weight: bold;
      }
    }
  }



  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              width: 85%;
              .box-title {
                font-size:18px;
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          font-size:15px;
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }


  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/

  #block-nodeblock-4 {
    .block-inner {
      .testimonials_section {
        ul {
          li {
            div.test-content {
              i.fa-quote-left {
              }
              i.fa-quote-right {
              }
              i {
              }
              div.test-title {
              }
            }
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/
  #block-nodeblock-5 {
    .block-inner {
      .about_section {
        .about-content {
          .about-download {
            a {
              font-size:14px;
              padding:10px;
            }
          }
        }
        ul {
          li {
            div.about-whiteBar {
            }
            div.about-image {
              img {
              }
            }
            .about-imageHover {
            }
            div.about-text {
              .about-more {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
      }
    }
  }


  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/
  #block-nodeblock-6 {
    .block-inner {
      .contact_section {
        .contact-header {
          h2 {
          }
          .contact-headerContent {
          }
        }
        .footer {
        }
        .contact-logo {
          img {
          }
          .footer-socialMedia {
            .socialMedia {
              a {
              }
              :hover {
              }
              span {
              }
            }
          }
        }
        .footer-contactContainer {
          .contact-about {
            .contac-aboutTitle {
            }
            .contact-aboutPhone {
            }
          }
          .contact-form {
            form {
              input {
                width:50%;
              }
              :focus {
              }
              label {
              }
              textarea {
                width:50%;
              }
              :focus {
              }
              .grippie {
              }
              .form-textarea-wrapper {
              }
              button {
                float: none;
                margin: 0;
              }
              button:hover {
              }
            }
          }
        }
      }
    }
  }
}