@media only screen and (max-width: 740px) {

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .logo img {
      width: 40%;
    }

    .block-inner {

      .sections {
        div.textDiv {
          width: 80%;
        }
        .boxes-3 {
          ul {
            padding-top: 20px;
            li {
              // padding:0;
              width: 80%;
              margin: 10px auto;
              height: 100px;
              img {
              }
              div {
                padding: 3px;
                line-height: 39px;
              }
            }
          }
        }
      }
      .sections h2 {
        font-size: 26px;
      }
    }
  }


  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              width: 45%;
              .box-title {
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          font-size:17px;
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }


  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/



  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/



  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/


}