@media only screen and (max-width: 740px) {

  .servicesPop {
    .servicesPopInner {
      width:92%;
      .servicesPopInnerContent {
        .popover-p {
        }
        h1 {
          font-size:28px;
        }
        hr {
        }
        img {
        }
        ul {
          li {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .logo img {
      width: 40%;
    }
    .block-inner {

      .sections {
        .homeSectionContactInfo {
          .homeSectionContactPhone {
            float:none;
            width: inherit;
            text-align: center;
            padding: 0;
            font-size:16px;
            width:100%;
          }
          .homeSectionContact {
            float:none;
            width: 100%;
            font-size:16px;
            text-align:center;
            padding:0;
            margin-top:20px;
            a.homeSectionContactLink {
              font-size:16px;
            }
          }
        }

        div.textDiv {
          width: 80%;
        }
        .boxes-3 {
          ul {
            padding-top: 20px;
            li {
              // padding:0;
              width: 80%;
              margin: 10px auto;
              height: 100px;
              img {
              }
              div {
                padding: 3px;
                line-height: 39px;
              }
            }
          }
        }
      }
      .sections h2 {
        font-size: 26px;
        line-height:35px;
      }
    }
  }


  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              width: 45%;
              .box-title {
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          font-size:17px;
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }


  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/

  #block-nodeblock-4 {
    .block-inner {
      .testimonials_section {
        ul {
          li {
            div.test-content {
              i.fa-quote-left {
              }
              i.fa-quote-right {
              }
              i {
              }
              div.test-title {
              }
            }
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/
  #block-nodeblock-5 {
    .block-inner {
      .about_section {
        .about-content {
          .about-download {
            a {
              padding: 10px;
              font-size:19px;
            }
          }
        }
        ul {
          li {
            div.about-whiteBar {
            }
            div.about-image {
              img {
              }
            }
            .about-imageHover {
            }
            div.about-text {
              .about-more {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
      }
    }
  }


  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/
  #block-nodeblock-6 {
    .block-inner {
      .contact_section {
        .contact-header {
          h2 {
          }
          .contact-headerContent {
            width:inherit;
          }
        }
        .footer {
        }
        .contact-logo {
          img {
          }
          .footer-socialMedia {
            .socialMedia {
              a {
              }
              :hover {
              }
              span {
              }
            }
          }
        }
        .footer-contactContainer {
          .contact-about {
            float:left;
            clear:both;
            width:100%;
            text-align:center;
            margin-top:25px;
            .contact-aboutTitle {
            }
            .contact-aboutPhone {
            }
          }
          .contact-form {
            float:left;
            width:100%;
            margin-top:20px;
            form {
              input {
              }
              :focus {
              }
              label {
              }
              textarea {
              }
              :focus {
              }
              .grippie {
              }
              .form-textarea-wrapper {
              }
              button {
              }
              button:hover {
              }
            }
          }
        }
      }
    }
  }

}