@media only screen and (max-width: 990px) {
  /*******************************/
  /********** SECTION 1 **********/
  /*******************************/
  #block-nodeblock-2 {
    .logo img {
      width: 40%;
    }
    .block-inner {

      .sections {
        div.textDiv {
        }
        .boxes-3 {
          ul {
            padding-top: 20px;
            li {
              padding: 0 10px;
              width: 29%;
              margin: 5px;
              img {
              }
              div {
                padding: 5px;
              }
            }
          }
        }
      }
      .sections h2 {

      }
    }
  }

  /*******************************/
  /********** SECTION 2 **********/
  /*******************************/
  #block-nodeblock-3 {
    .block-inner {
      #node-3 {
        .services_section {
          h1 {
          }
          h2 {
          }
        }
        .boxes-6 {
          ul {
            li {
              .box-title {
                height: 40px;
              }
              hr {
              }
              .services-box-readMore {
                a {
                }
                :hover {
                }
              }
            }
          }
        }
        .services-info {
          a {
          }
          :hover {
          }
        }
        .services-readMore {
          a {

          }
          :hover {
          }
        }
      }
    }
  }

  /*******************************/
  /********** SECTION 3 **********/
  /*******************************/


  /*******************************/
  /********** SECTION 4 **********/
  /*******************************/


  /*******************************/
  /********** SECTION 5 **********/
  /*******************************/

}