@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

.block.block-nodeblock {
  margin-bottom: 0;
}

.front {
  #content-wrapper {
    padding: 0;
  }
  .logo img {
    width: 30%;
  }
}

#node-1 .content {
  display: none;
}

#content-container {
  section {
    ul.nav-tabs {
      display: none;
    }
    h1.page-header {
      display: none;
    }
    h2.block-title {
      display: none;
    }
  }
}

/*******************************/
/********** SECTION 1 **********/
/*******************************/

#block-nodeblock-2 {
  background: url('images/sectionHomeResized.jpg');
  background-size: cover;
  // background-position: 0 -375px;
  background-position: center center;

  .block-inner {
    //    background: rgba(112,66,20, 0.65);
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    padding-top: 40px;
    text-align: center;

    .sections {
      div.textDiv {
        color: white;
        font-family: Arial;
        font-size: 13px;
        width: 55%;
        margin: 0 auto;
      }
      .boxes-3 {
        padding-bottom: 30px;
        ul {
          list-style: none;
          margin: 0 auto;
          width: 100%;
          li {
            display: inline-block;
            width: 25%;
            background: rgba(255, 0, 0, 0.45);
            margin: 20px;
            padding: 0 30px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            height: 150px;
            img {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              padding-right: 10px;
            }
            div {
              position: relative;
              top: 50%;
              padding: 30px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .sections h2 {
      font-family: Lato-Regular;
      color: white;
      font-size: 30px;
      line-height: 50px;
      span.h2span {
        color: #FF0000;
        font-family: Lato-Black;

      }
    }
  }
}

/*******************************/
/********** SECTION 2 **********/
/*******************************/

#block-nodeblock-3 {
  background: url('images/sectionServicesResize.jpg');
  background-size: cover;
  background-position: center center;

  .block-inner {
    background: rgba(63, 76, 91, 0.65);
    height: 100%;
    padding-top: 40px;
    text-align: center;

    .services_section {
      h1 {
        font-family: Lato-Regular;
        font-size: 40px;
        color: white;
        line-height: 60px;
        text-transform: uppercase;
      }
      h2 {
        font-family: Lato-Black;
        font-size: 38px;
        margin-top: 0;
        text-transform: uppercase;
        span {
          color: #FF0000;
        }
      }
      .boxes-6 {
        ul {
          list-style: none;
          margin: 60px auto auto 0;
          width: 100%;
          li {
            display: inline-block;
            width: 30%;
            margin: 10px 0 30px 0;
            padding: 0;
            color: white;
            font-size: 13px;
            font-family: Arial;
            font-weight: normal;
            .box-title {
              font-family: Lato-Black;
              font-size: 18px;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            hr {
              width: 30px;
              border: 2px solid white;
            }
            .services-box-readMore {
              a {
                color: white;
                font-family: lato-Regular;
                font-size: 20px;
              }
              :hover {
                color: #FF0000;
              }
            }
          }
        }
      }
      .services-info {
        font-family: Lato-Regular;
        font-size: 22px;
        text-transform: uppercase;
        color: #ff0000;
        a {
          color: #ff0000;
        }
        :hover {
          color: white;
        }
      }
      .services-readMore {
        display: inline-block;
        margin: 25px 0 40px 0;
        a {
          font-family: Lato-Regular;
          font-size: 25px;
          display: block;
          color: white;
          background: #FF0000;
          padding: 10px 30px;
        }
        :hover {
          background: rgba(255, 0, 0, .50);
        }
      }
    }
  }
}

