@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

#preface .block {
  margin-bottom: 0px;
}

#preface-wrapper.wrapper {
  padding: 0 !important;
}

.block.block-nodeblock {
  margin-bottom: 0;
}

.front {
  #content-wrapper {
    padding: 0;
  }
  .logo img {
    width: 30%;
  }
}

.hideme {
  display: none;
}

#node-1 .content {
  display: none;
}

.redButton {
  display: inline-block;
  margin: 25px 0 40px 0;
  a {
    font-family: Lato-Regular;
    font-size: 25px;
    display: block;
    color: white;
    background: #FF0000;
    padding: 10px 30px;
  }
  :hover {
    background: rgba(255, 0, 0, .50);
  }
}

.servicesPop {
  background: rgba(0, 0, 0, .70);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 200ms linear;
  display: block;
  opacity: 1;
  .servicesPopInner {
    width: 41%;
    background: white;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 3px 3px black;

    .servicesPopInnerContent {
      position: relative;
      padding-bottom: 20px;
      .popover-p {
        max-width: 400px;
        margin: 0 auto;
      }
      h1 {
        font-family: lato-black;
        text-align: center;
      }
      hr {
        width: 25%;
        border: 1px solid black;
      }
      img {
        position: absolute;
        right: 18px;
        top: 0;
        width: 20px;
        cursor: pointer;
      }
      ul {
        margin: 20px 0 20px 20px;
        li {
        }
      }
    }
  }
}

.serviceVisuallyHidden {
  opacity: 0;
}

.servicePopHidden {
  display: none;
}

#content-container {
  section {
    ul.nav-tabs {
      display: none;
    }
    h1.page-header {
      display: none;
    }
    h2.block-title {
      display: none;
    }
  }
}

#block-block-2 {
  background: #ff0000;
  color: white;
  padding: 40px;
  margin-bottom: 0;
  .red-section-left {
    font-family: Lato-Black;
    font-size: 30px;
    float: left;
    max-width: 350px;

  }
  .red-section-right {

  }
}

/*******************************/
/********** SECTION 1 **********/
/*******************************/

#block-nodeblock-2 {
  background: url('images/sectionHomeResized.jpg');
  background-size: cover;
  // background-position: 0 -375px;
  background-position: center center;
  //background-attachment: fixed;

  .block-inner {
    //    background: rgba(112,66,20, 0.65);
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    padding-top: 40px;
    text-align: center;

    .sections {
      div.textDiv {
        color: white;
        font-family: Arial;
        font-size: 13px;
        width: 55%;
        margin: 0 auto;
      }
      .boxes-3 {
        padding-bottom: 30px;
        ul {
          list-style: none;
          margin: 0 auto;
          width: 100%;
          margin-bottom: 75px;
          li {
            display: inline-block;
            width: 25%;
            background: rgba(255, 0, 0, 0.45);
            margin: 20px;
            padding: 0 20px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            height: 150px;
            img {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              padding-right: 10px;
            }
            div {
              position: relative;
              top: 50%;
              padding: 30px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .sections h2 {
      font-family: Lato-Regular;
      color: white;
      font-size: 30px;
      line-height: 50px;
      span.h2span {
        color: #FF0000;
        font-family: Lato-Black;

      }
    }
  }
}

/*******************************/
/********** SECTION 2 **********/
/*******************************/

#block-nodeblock-3 {
  background: url('images/sectionServicesResize.jpg');
  background-size: cover;
  background-position: center center;

  .block-inner {
    background: rgba(63, 76, 91, 0.65);
    height: 100%;
    padding: 40px 0;
    text-align: center;

    .services_section {
      h1 {
        font-family: Lato-Regular;
        font-size: 40px;
        color: white;
        line-height: 40px;
        text-transform: uppercase;
      }
      h2 {
        font-family: Lato-Black;
        font-size: 38px;
        margin-top: 0;
        text-transform: uppercase;
        span {
          color: #FF0000;
        }
      }
      .boxes-6 {
        ul {
          list-style: none;
          margin: 60px auto auto 0;
          width: 100%;
          li {
            display: inline-block;
            width: 30%;
            margin: 10px 0 30px 0;
            padding: 0;
            color: white;
            font-size: 13px;
            font-family: Arial;
            font-weight: normal;
            .box-title {
              font-family: Lato-Black;
              font-size: 18px;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            hr {
              width: 30px;
              border: 2px solid white;
            }
            .services-box-readMore {
              a {
                color: white;
                font-family: lato-Regular;
                font-size: 20px;
              }
              :hover {
                color: #FF0000;
              }
            }
          }
        }
      }
      .services-info {
        font-family: Lato-Regular;
        font-size: 22px;
        text-transform: uppercase;
        color: #ff0000;
        a {
          color: #ff0000;
        }
        :hover {
          color: white;
        }
      }
    }
  }
}

/*******************************/
/********** SECTION 3 **********/
/*******************************/

#block-nodeblock-4 {
  background: url('images/sectionTestimonialsResize.jpg');
  background-size: cover;
  background-position: center -200px;

  .block-inner {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    padding: 50px 15px;
    text-align: center;

    .testimonials_section {
      padding-bottom: 30px;
      ul {
        list-style: none;
        margin: 96px 0;
        width: 100%;
        li {
          float: left;
          width: 45%;
          background: rgba(255, 0, 0, 0.45);
          margin: 20px;
          color: white;
          font-size: 14px;
          font-weight: bold;
          height: 315px;
          div.test-content {
            padding: 15px 10px;
            text-align: left;
            i.fa-quote-left {
              margin-right: 10px;
            }
            i.fa-quote-right {
              margin-left: 10px;
            }
            i {
              font-size: 17px;
            }
            div.test-title {
              margin-top: 8px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

/*******************************/
/********** SECTION 4 **********/
/*******************************/

#block-nodeblock-5 {
  background: url('images/sectionAboutResize.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  //background-attachment: fixed;

  .block-inner {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    padding: 50px 15px;
    text-align: center;

    .about_section {
      .about-content {
        color: white;
        font-family: lato-regular;
        text-align: justify;
        margin: 0 auto;
        width: 70%;
        font-size: 18px;
        .about-download {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          a {

          }
        }
      }
      ul {
        list-style: none;
        float: left;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 70px 0 10px 0;
        li {
          position: relative;
          float: left;
          width: 33.33%;
          color: white;
          background: #000000;
          cursor: default;
          transition: all 300ms linear;
          overflow: hidden;
          max-height: 366px;
          div.about-whiteBar {
            width: 100%;
            height: 34px;
            background: white;
            position: absolute;
            top: 0;
            color: black;
            font-family: Lato-Black;
            font-size: 23px;
          }
          div.about-image {
            display: inline-block;
            position: relative;
            transition: all 300ms linear;
            img {
              max-width: inherit;
              transition: all 300ms linear;
              width: 100%;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .about-imageHover {
            content: ' ';
            display: block;
            background: #000000;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: all 300ms linear;
          }
          div.about-text {
            position: absolute;
            z-index: 200;
            opacity: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 20px;
            text-align: left;
            font-family: Arial;
            font-size: 14px;
            .about-more {
              a {
                color: white;
                font-family: lato-black;
                font-size: 17px;
                background: #ff0000;
                padding: 5px 10px;
                float: right;
                margin: 20px 0 0;
              }
              :hover {
                background: rgba(255, 0, 0, .50);
              }
            }
          }
        }
      }
    }
  }
}

/*******************************/
/********** SECTION 5 **********/
/*******************************/

#block-nodeblock-6 {
  background: url('images/sectionContactResize.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  //background-attachment: fixed;

  .block-inner {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    padding: 50px 15px;
    text-align: center;
    .contact_section {
      .contact-header {
        h2 {
          color: #ff0000;
          font-family: Lato-black;
          font-size: 40px;
          line-height: 40px
        }
        .contact-headerContent {
          font-family: Lato-regular;
          font-size: 18px;
          color: white;
          text-align: justify;
          width: 500px;
          margin: 0 auto;
          padding: 0 0 50px 0;
        }
      }
      .footer {
        float: left;
        width: 30%;
        padding: 0 15px;
      }
      .contact-logo {
        img {
          width: 300px;
        }
        .footer-socialMedia {
          .socialMedia {
            float:left;
            padding:29px 0 0;
            width:24%;
            a {
              font-size:45px;
              color:white;
              transition: all 200ms linear;
            }
            :hover {
              color:#ff0000;
              transition: all 200ms linear;
            }
            span {
              display:none;
            }
          }
        }
      }
      .footer-contactContainer {
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        float: left;
        .contact-about {
          font-family: lato-regular;
          color: white;
          text-align: left;
          font-size: 18px;
          padding-left:27px;
          .contac-aboutTitle {
            font-size: 20px;
            margin-bottom: 10px;
          }
          .contact-aboutPhone {
            font-size: 23px;
            font-family: Lato-black;
            color: #ff0000;
            letter-spacing: 4px;
            padding-bottom: 15px;
          }
        }
        .contact-form {
          form {
            width: 400px;
            input {
              width: 70%;
              background:rgba(255,255,255, .65);
            }
            :focus {
              border-color:#ff0000;
            }
            label {
              float: left;
              width: 75px;
              color: white;
              font-family: Lato-black;
            }
            textarea {
              width: 70%;
              background:rgba(255,255,255, .65);
            }
            :focus {
              border-color:#ff0000;
            }
            .grippie {
              display: none;
            }
            .form-textarea-wrapper {
              display: inline;
            }
            button {
              float: right;
              margin-right: 31px;
            }
            button:hover {
              background: rgba(255,0,0,.5);
            }
          }
        }
      }
    }
  }
}